body{
    background-color: ffffffa6
    ;
}

main{
    background-color: #f5f5f5;
    max-width: 1780px;
    margin: auto;
    position: relative;
}

main > h2{
    text-align: center;

}

.singleCard{
    margin: 20px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.384);
    display: inline-block;
    margin-top: 50px auto;
    background-color: #fff;
}

.singleCard:hover{
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.singleCard > img{
    width: 100%;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.singleCard > h3{
    margin: 50px 0px;
    font-size: 1.2em;
    opacity: 0.9;

}

.bnt-receita{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    color: rgba(238, 238, 238, 0.986);
    background-color: rgb(221, 73, 5);
    margin-bottom: 25px;
    border-radius: 15px;
}